
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="blog">
    <div class="container">
        <div class="section-header text-center">
            <p>Latest From Blog</p>
            <h2>Learn More from Latest Barber Blog</h2>
        </div>
        <div class="owl-carousel blog-carousel">
            <div class="blog-item">
                <div class="blog-img">
                    <img src="img/blog-1.jpg" alt="Blog">
                </div>
                <div class="blog-meta">
                    <i class="fa fa-list-alt"></i>
                    <a href="">Hair Cut</a>
                    <i class="fa fa-calendar-alt"></i>
                    <p>01-Jan-2045</p>
                </div>
                <div class="blog-text">
                    <h2>Lorem ipsum dolor</h2>
                    <p>
                        Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus tortor
                    </p>
                    <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="blog-item">
                <div class="blog-img">
                    <img src="img/blog-2.jpg" alt="Blog">
                </div>
                <div class="blog-meta">
                    <i class="fa fa-list-alt"></i>
                    <a href="">Beard Style</a>
                    <i class="fa fa-calendar-alt"></i>
                    <p>01-Jan-2045</p>
                </div>
                <div class="blog-text">
                    <h2>Lorem ipsum dolor</h2>
                    <p>
                        Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus tortor
                    </p>
                    <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="blog-item">
                <div class="blog-img">
                    <img src="img/blog-3.jpg" alt="Blog">
                </div>
                <div class="blog-meta">
                    <i class="fa fa-list-alt"></i>
                    <a href="">Color & Wash</a>
                    <i class="fa fa-calendar-alt"></i>
                    <p>01-Jan-2045</p>
                </div>
                <div class="blog-text">
                    <h2>Lorem ipsum dolor</h2>
                    <p>
                        Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus tortor
                    </p>
                    <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>



        </div>
    </div>
</div>