
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="hero">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="hero-text">
                        <h1>Bivalvia Accessories</h1>
                        <p>
                            Handcraafted Accessories For Women and Men with Love
                        </p>
                        <a class="btn" href="https://htmlcodex.com/barber-shop-template">Products</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 d-none d-md-block">
                    <div class="hero-image">
                        <img src="img/hero.png" alt="Hero Image">
                    </div>
                </div>
            </div>
            <button type="btn" class="btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                <span></span>
            </button>
        </div>
    </div>