@using EntityLayer.Concrete
@model List<About>

<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="~/barber-shop-template/img/about.jpg" alt="Image">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-7 col-md-6">
                            <div class="section-header text-left">
                                <p>@item.AboutName</p>
                                <h2>25 Years Experience</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    @item.AboutDescription
                                </p>
                                <p>
                                    @item.AboutDescription2
                                </p>
                                <a class="btn" href="">Learn More</a>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>