@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayer.cshtml";
}


<html lang="en">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

<!-- CSS Libraries -->
<link href="~/barber-shop-template/https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="~/barber-shop-template/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="~/barber-shop-template/lib/animate/animate.min.css" rel="stylesheet">
<link href="~/barber-shop-template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/barber-shop-template/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="~/barber-shop-template/css/style.css" rel="stylesheet">
<body>

    <!-- Nav Bar Start -->
    @await Component.InvokeAsync("_NavbarPartial")
    <!-- Nav Bar End -->

    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Products</h2>
                </div>
                <div class="col-12">
                    <a href="/Default/Index/">Home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Pricing Start -->
    <div class="container">
        <div class="section-header text-center">
            <h1>We Provide Best Price</h1>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 col-6">
                @*col lg-4 md-3 sm-3*@                
                    <div class="column">
                        <div class="price-item">
                            <a href="/Product/ProductDetails/@item.ProductID">
                                <img src="@item.Image" alt="" style="width:370px; height:300px" class="img-fluid"></a>
                            <div class="price-text">
                                <h2>@item.ProductName</h2>
                                <p>@item.Description</p>
                                <span>@item.Price ₺</span>
                            </div>                           

                        </div>
                    </div>               
                </div>                
            }
        </div>
    </div>
    <!-- Pricing End -->

    <!-- Footer Start -->
    @await Component.InvokeAsync("_ContactPartial")
    <!-- Footer End -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/barber-shop-template/lib/easing/easing.min.js"></script>
    <script src="~/barber-shop-template/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/barber-shop-template/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/barber-shop-template/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/barber-shop-template/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/barber-shop-template/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/barber-shop-template/js/main.js"></script>
</body>
</html>




