<div class="hero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="hero-text">
                    <h1>Bivalvia Accessories</h1>
                    <p>
                        Handcraafted Accessories For Women and Men with Love
                    </p>
                    <a class="btn" href="/Product/Index/">Products</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 d-none d-md-block">
                <div class="hero-image">
                    <img src="~/images/Ekran görüntüsü 2023-01-22 000551.png" alt="Hero Image">
                </div>
            </div>
        </div>
    </div>
</div>
