@using EntityLayer.Concrete
@model List<Category>

<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Categories</p>
            <h2>Best Things for You</h2>
        </div>       
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-img">
                        <img src="~/images/Ekran görüntüsü 2023-01-22 000139.png" alt="Image">
                        </div>
                        <h3>Handcrafts</h3>
                        <p>
                        Modern handmade products with care                            
                        </p>
                        <a class="btn" href="">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-img">
                        <img src="~/images/Ekran görüntüsü 2023-01-21 235727.png" alt="Image">
                        </div>
                        <h3>Accessorieze</h3>
                        <p>
                        The most stylish products
                        </p>
                        <a class="btn" href="">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-img">
                        <img src="~/images/Ekran görüntüsü 2023-01-22 000104.png" alt="Image">
                        </div>
                        <h3>Gifts</h3>
                        <p>
                        unique gifts for your loved ones                           
                        </p>
                        <a class="btn" href="">Learn More</a>
                    </div>
                </div>
            </div>
        
    </div>
</div>